.container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
  background-image: url("/office-cityscape-builidings-contemporary-interior-room-modern-concept.jpg");
  background-size: cover;
}

.form {
  background: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background: rgba(161, 158, 158, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(146, 142, 142, 0.3);
    user-select: none;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #070707;
}

.field input,
.field textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  outline: none;
}

.field input:focus,
.field textarea:focus {
  border-color: #4a90e2;
}

.button {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #357abd;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.link a{
  display: inline-block;
  margin-left: 50px;
  color:rgb(119, 9, 192);
  margin-top: 10px;
}
.link a:hover{
  color:rgb(179, 61, 41)
}